.App {
  text-align: center;
  min-height: 100vh ;
  background-color: #282c34;
  text-wrap: wrap;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.display-lottery-number-color{
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
